<!-- Navigation Bar -->
<div class="flex items-center justify-between bg-green-2 p-4 md:px-10 px-6 sticky top-0 z-50 text-white">
    <!-- Left side -->
    <div class="flex items-center space-x-10">
        <!-- Logo -->
        <a href="/" class="text-white text-lg font-bold transition-transform duration-300 transform hover:scale-105">
            POS Admin
        </a>
    </div>

    <!-- Right side -->
    <div class="space-x-4 flex h-full items-center hidden md:flex bg-green-2 ">
        <a href="/products" class="text-white text-lg hover:bg-orange-1/80 p-1.5 px-5 rounded-3xl">
            Products
        </a>
        <a href="/customers" class="text-white text-lg hover:bg-orange-1/80 p-1.5 px-5 rounded-3xl">
            Customers
        </a>
        <a href="/invoices" class="text-white text-lg hover:bg-orange-1/80 p-1.5 px-5 rounded-3xl">
            Invoices
        </a>

        <!-- Profile -->
        <div class="flex items-center space-x-5 hover:bg-orange-1/80 rounded-3xl">
            <div class="relative" (mouseenter)="showLogout = true" (mouseleave)="showLogout = false">
                <button class="flex space-x-3 p-3 py-1 rounded-xl text-white items-center">
                    <hlm-avatar>
                        <img src='/assets/img/mrlorem.avif' alt='profile' hlmAvatarImage />
                        <span class='text-white bg-destructive' hlmAvatarFallback>{{ username }}</span>
                    </hlm-avatar>
                    <div class="flex flex-col text-start md:block hidden">
                        <div class="text-white text-base font-semibold">{{ username }}</div>
                        <div class="text-slate-300 text-xs">Software Engineer</div>
                    </div>
                </button>
                <!-- Dropdown logout button -->
                <div *ngIf="showLogout" class="absolute bg-green-1 rounded-lg text-white right-0 py-2 w-48"
                    (mouseenter)="showLogout = true" (mouseleave)="showLogout = false">
                    <button (click)="handleLogout()"
                        class="block w-full text-left px-4 py-2 rounded-lg text-sm hover:bg-green-3">Logout</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Hamburger Menu -->
    <div class="md:hidden">
        <button (click)="isOpen = !isOpen"
            class="hamburger-btn focus:outline-none p-2 rounded-lg hover:bg-green-3 transition-colors duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                [class.open]="isOpen" stroke="currentColor" class="h-6 w-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 6h18M3 12h18M3 18h18" *ngIf="!isOpen" />
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12" *ngIf="isOpen" />
            </svg>
        </button>
    </div>
</div>

<!-- Hamburger Menu Content -->
<div [ngClass]="{'show': isOpen}" class="hamburger-menu fixed inset-0 bg-green-2 bg-opacity-95 z-40 flex flex-col space-y-4 p-6 pt-20 text-white transition-transform duration-300 ease-in-out transform origin-top-right">
    <a href="/products" class="text-lg hover:bg-orange-1/80 hover:font-semibold p-3 rounded-3xl text-center">Products</a>
    <a href="/customers" class="text-lg hover:bg-orange-1/80 hover:font-semibold p-3 rounded-3xl text-center">Customers</a>
    <a href="/invoices" class="text-lg hover:bg-orange-1/80 hover:font-semibold p-3 rounded-3xl text-center">Invoices</a>
    <button (click)="handleLogout()" class="text-lg hover:bg-orange-1/80 hover:font-semibold p-3 rounded-3xl text-center">Logout</button>
</div>