<footer class="footer-container px-16 py-6 rounded-t-3xl">
    <div class="footer-content">
        <div class="flex">
            <img src="/assets/icons/logo-footer.png" alt="Voyago Logo" class="footer-logo">
        </div>
        <div class="flex flex-col">
            <p class="text-lg font-semibold pb-0.5">Discover More, Travel Better.</p>
            <p class="text-xs">© {{ currentYear }} Group 4 - FPT Software Indonesia Intern Final Project. All Rights Reserved.</p>
        </div>
    </div>
</footer>
  
