<div class="flex h-screen bg-gray-100">
    <div aria-live="polite" toastContainer></div>
    
    <!-- Left Side (Image) -->
    <div
        class="relative hidden h-full flex-col p-10 lg:flex lg:w-3/5"
        [ngStyle]="{
            'background-image': 'url(' + mainbg + ')',
            'background-repeat': 'no-repeat',
            'background-size': 'cover',
            'background-position': 'center'
        }"
    >
        <img src="/assets/icons/logo.png" alt="Logo" class="absolute top-10 left-20 z-20 h-16" />

        <!-- Black overlay -->
        <div class="absolute inset-0 bg-black bg-opacity-70"></div>
        
        <div class="relative flex items-end justify-start w-full h-full text-white">
            <div class="py-8 p-10">
                <h1 class="text-5xl font-bold mb-4">Voyago</h1>
                <p class="text-2xl italic">Discover More, Travel Better.</p>
            </div>
        </div>
    </div>
  
    <!-- Right Side (Form) -->
    <div class="flex lg:p-8 lg:w-2/5 w-full items-center justify-center p-10 bg-white">
        <div class="w-full max-w-md md:px-6">
            <h2 class="text-3xl font-bold pb-1.5">Welcome Back!</h2>
            <p class="text-lg text-muted-foreground mb-8">Enter your email and password to login</p>
    
            <!-- Login Form -->
            <form (submit)="login()">
                <div class="mb-4">
                    <label class="block text-gray-700 text-lg font-semibold mb-1" for="username">Username</label>
                    <input [(ngModel)]="loginRequest.username" type="text" id="username" name="username" class="appearance-none border rounded rounded-2xl w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Enter your username">
                </div>
                <div class="mb-10">
                    <label class="block text-gray-700 text-lg font-semibold mb-1" for="password">Password</label>
                    <input [(ngModel)]="loginRequest.password" type="password" id="password" name="password" class="appearance-none border rounded rounded-2xl w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Enter your password">
                </div>
        
                <!-- Submit Button -->
                <div class="flex items-center justify-end w-full">
                    <button 
                        type="submit"
                        [disabled]="isLoading" 
                        class="bg-[#0A5185] w-full rounded-xl transition-transform duration-300 transform hover:scale-105 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:shadow-outline"
                        [ngClass]="{ 'opacity-50 cursor-not-allowed': isLoading }"
                    >
                        <span *ngIf="!isLoading">Login</span>
                        <span *ngIf="isLoading">
                            <svg
                                class="inline mr-2 w-5 h-5 text-white animate-spin"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path
                                    class="opacity-75"
                                    fill="currentColor"
                                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                                ></path>
                            </svg>
                            Logging in...
                        </span>
                    </button>
                </div>
            </form>

            <p class="text-gray-500 text-sm mt-6">Not registered yet? <a href="/signup" class="text-blue-500 hover:underline font-semibold">Create an Account</a></p>
            <p class="text-gray-500 text-sm mt-1"><a href="/change/email" class="text-blue-500 hover:underline font-semibold">Forget password?</a></p>
        </div>
    </div>
</div>