<div class="min-h-screen flex items-center justify-center bg-cover bg-center relative" style="background-image: url('/assets/img/login.png');">
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black opacity-80"></div>

    <!-- Content -->
    <div class="bg-white p-6 rounded-lg shadow-md max-w-md w-full space-y-6 relative z-10">
        <div class="flex justify-center">
            <!-- Image or Logo -->
            <img src="/assets/icons/logo-color.png" alt="Logo" class="w-16 h-16" />
        </div>

        <h2 class="text-center text-base font-semibold text-xl">
            Please go check your email now!
        </h2>
        <p class="text-center text-base">
            A password reset link has been sent to your email address. Please check your inbox and follow the instructions.
        </p>
    </div>
</div>
